.jarmu-card {
  width: 90%;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: whitesmoke;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  margin: 2vw;
}
.jarmu-card-img-box {
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  justify-content: center;
  margin-right: 10px;
}
.jarmu-card-img-box img {
  max-width: 400px;
  max-height: fit-content;
  border-radius: 15px;
  transition: transform 0.5s ease;
}
.jarmu-card-foglalas{
  font-size: 25px;
  margin: 10px;
}
.jarmu-card-foglalas:hover{
  transform: 300ms;
  font-size: 26px;
}

.jarmu-card {
  display: grid;
  grid-template-columns: 20% 20% 15% 20% 25% 0%;
  grid-template-areas:
    "k b1 b4 b2 bu bu"
    "b3 b3 b3 b5 b5 b5";
}
.jarmu-card-img-box {
  grid-area: k;
}
.card-block-1 {
  grid-area: b1;
}
.card-block-2 {
  grid-area: b2;
}
.card-block-3 {
  grid-area: b3;
}
.card-block-4 {
  grid-area: b4;
}
.card-block-5 {
  grid-area: b5;
}
.jarmu-card-buttons {
  grid-area: bu;
}

/*before - affter*/
.jarmu-card-kategoria::before {
  font-weight: bold;
  content: "Kategória: ";
}
.jarmu-card-ajtok::before {
  font-weight: bold;
  content: "Ajtók száma: ";
}
.jarmu-card-utasok::before {
  font-weight: bold;
  content: "Utasok száma: ";
}
.jarmu-card-szín::before {
  font-weight: bold;
  content: "Szín: ";
}
.jarmu-card-valto::before {
  font-weight: bold;
  content: "Váltó :";
}
.jarmu-card-uzemanyag::before {
  font-weight: bold;
  content: "Üzemanyag: ";
}
.jarmu-card-evjarat::before {
  font-weight: bold;
  content: "Évjárat: ";
}
.jarmu-card-teljesitmeny::before {
  font-weight: bold;
  content: "Lóerő: ";
}
.jarmu-card-extra::before {
  margin-right: 5px;
  font-weight: bold;
  content: "Egyéb:";
}
.jarmu-card-ar::after {
  margin-bottom: 3px;
  font-weight: bold;
  content: "Ft / nap";
}
.jarmu-card-arHeti::after {
  margin-bottom: 3px;
  font-weight: bold;
  content: "Ft / hét";
}

/*cad blocks 1920*xy*/

.card-block-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.card-block-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: space-around;
}
.card-block-1,
.card-block-2{
  font-weight: 950;
  font-size: 30px;
}
.card-block-1 span,
.card-block-2 span {
  margin-right: 5px;
}
.jarmu-card-ar,
.jarmu-card-arHeti {
  color: orange;
}
.card-block-3 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 5%;
}
.card-block-3 span {
  margin-right: 5%;
}
.card-block-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 20px;
  justify-content: flex-start;
  align-items: stretch;
}
.card-block-4 span {
  display: flex;
  justify-content: space-between;
}
.card-block-5 ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-block-5 ul li {
  margin-right: 5px;
}
.jarmu-card-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.jarmu-card-foglalas,
.jarmu-card-reszletek {
  height: 2.5rem;
  border-radius: 10px;
  width: 100%;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  background: linear-gradient(#17446b, transparent),
    linear-gradient(to top left, #17446b, transparent);
  background-blend-mode: screen;
  color: white;
  margin-bottom: 20px;
  transition: 300ms;
}

@media only screen and (max-width: 1510px) {
  .jarmu-card {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
      "k b1 b2 bu"
      "k b4 b2 bu"
      "b3 b3 b5 b5";
  }
  .card-block-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-right: 5%;
  }
  .card-block-3 span {
    margin-right: 1%;
  }

  .card-block-4 span {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
  .card-block-5 ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5%;
  }
  .card-block-5 ul li {
    margin-right: 5px;
  }
}
@media only screen and (max-width: 1260px) {
  .jarmu-card {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
      "k k b1 b2"
      "k k b4 b2"
      "bu bu bu bu"
      "b3 b3 b5 b5";
  }
  .card-block-4 span {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
  .jarmu-card-foglalas,
  .jarmu-card-reszletek {
    margin: 10px 0px;
  }
  .jarmu-card-img-box {
    align-items: stretch;
  }
}
@media only screen and (max-width: 610px) {
  .jarmu-card {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
      "k k k k"
      "b1 b1 b1 b1"
      "b2 b2 b4 b4"
      "bu bu bu bu"
      "b3 b3 b5 b5";
  }
  .card-block-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .card-block-2 {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 950;
    font-size: 25px;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
  }
  .card-block-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .card-block-4 span {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
