@charset "utf-8";

.hsor1 {
  height: 200px;
}

.hsor2 {
  padding: 0% 3%;
  display: flex;
  justify-content: space-between;
}
.hsor2 img{
  align-items: center;
}

#foglalasszoveg1,#foglalasszoveg2 {
  color: #17446b;
  font-family: "Teko", sans-serif;
  -webkit-text-stroke: 1px #17446b;
  text-shadow: 0px 4px 4px #8a8484;
  
}
#foglalasszoveg1{
  font-size: 40px;
  letter-spacing: 1px;
}
#foglalasszoveg2 {
  font-size: 50px;
  letter-spacing: 0.5px;
}

.header {
  background-image: url("../kepek/header1.png");
  background-repeat: no-repeat;
  
}
.headerSzoveg{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


#fokep {
  width: auto;
  height: 250px;
}
button i {
  margin-right: 5px;
}

.gombok {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.bejelentkezes {
  background-color: #e0e4e7;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 2px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;

  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 12px 16px;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-right: 20px;
  width: 200px;
}

.bejelentkezes:hover {
  background-color: #b1c5ee;
  text-decoration: none;
  transition-duration: 0.2s;
}

.regisztracio {
  background-color: #e0e4e7;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 2px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 12px 16px;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-right: 20px;
  width: 200px;
}

.regisztracio:hover {
  background-color: #b1c5ee;
  text-decoration: none;
  transition-duration: 0.2s;
}

@media only screen and (max-width: 1400px) {
  #foglalasszoveg1{
    font-size: 30px;
    
  }
  #foglalasszoveg2 {
    font-size: 40px;
    
  }


}

@media only screen and (max-width: 1300px) {
  #foglalasszoveg1{
    font-size: 25px;
    
  }
  #foglalasszoveg2 {
    font-size: 35px;
    
  }



}

@media only screen and (max-width: 1200px) {
  #foglalasszoveg1{
    font-size: 25px;
  
    
  }
  #foglalasszoveg2 {
    font-size: 35px;
    
  }

}

@media only screen and (max-width: 1150px) {
 
  #fokep{
   display: none;
  }
  .header{
    background-position-y: 40%;
  }
}
