.kereses {
    max-width: 1900px;
    padding: 20px;
    margin: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -20px;
    margin-bottom: 30px;
}

#rendezes-box {
    float: right;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.kereses form {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 1rem;
}

.input-box {
    flex: 1 1 27rem;
    display: flex;
    flex-direction: column;
}

.input-box2 {
    flex: 1 1 7rem;
    display: flex;
    flex-direction: row;
}

.input-box2 input {
    padding: 10px;
    background: rgba(192, 204, 240, 0.37);
    border: 1px solid rgb(177, 177, 180);
    height: 50px;
    outline: 0; /* nem lesz kerete mikor belekattintunk */
}

#idoEl {
    font-size: 20px;
}

#idoVissza {
    font-size: 20px;
}

.input-box input, select {
    padding: 10px;
    background: rgba(192, 204, 240, 0.37);
    border: 1px solid rgb(177, 177, 180);
    height: 50px;
    outline: 0; /* nem lesz kerete mikor belekattintunk */
    font-size: 20px;
}

.kereses form .btn {
    background-color: #e0e4e7;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 2px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
        rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 16px;
    width: 200px;
}

.kereses form .btn:hover {
    background-color: #b1c5ee;
    text-decoration: none;
    transition-duration: 0.2s;
}

/*--------------Lenyíló kereső-------------------------*/

#dropdown_kereso {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#checkboxs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#checkboxs section {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0.5rem;
}
#checkboxs section label {
    margin-bottom: 0.5rem;
}
#modell_parameter_kereso {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

#modell_parameter_kereso section {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
#jarmu_parameter_kereso {
    display: flex;
}
#check_wrapper-1,
#check_wrapper-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: nowrap;
    margin-right: 2rem;
}

#mint,
#maxt {
    display: flex;
    flex-direction: row;
}
#mint {
    margin-right: 10px;
}
#min,
#max {
    width: 80px;
}
#tolig {
    display: flex;
}
#minmax-wrapp {
    display: flex;
    flex-direction: column;
}
#minmaxLable {
    display: flex;
    justify-content: space-around;
}
#ulesek {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}
#ulesek input {
    width: 50px;
}
#modell_evjarat {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
#evjarat {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
#checkboxs,
#modell_parameter_kereso,
#ulesek,
#minmax-wrapp {
    margin: 1% 1%;
}

/* Jűrműveink felületen */

.autoListaGombok {
    bottom: 1rem;
    display: flex;
    justify-content: center;
    left: 0;
    list-style: none;
    padding-left: 0;
    /*   position: absolute; */
    width: 100%;
}

.autoListaGombok .lefoglalas,
.reszletek {
    align-items: center;
    background-color: #b9c4d157;
    color: #231f20 !important;
    font-size: 1rem;
    font-weight: 700;
    height: 2.5em;
    padding: 0 0.8em;
}

.autokRendezes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.kategoriaLabel,
.karosszeriaLabel,
.valtoLabel {
    font-size: 15pt;
    padding: 10px;
}

.szuresGomb {
    align-items: center;
    background-color: #b9c4d120;
    height: 2.5em;
    padding: 0 2em;
}

#autoKategoria,
#autoKarosszeria,
#autoValto {
    font-size: 12pt;
}
#keresesBtn{
    margin: 10px;
    padding: 10px 30px;
    border: 1px solid black;
    background-color: whitesmoke;
}
#keresesBtn:hover {
    background-color: #b1c5ee;
    text-decoration: none;
    transition-duration: 0.2s;
}
input[type="checkbox"] {
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    padding: 10px;
    margin: 0px 10px;
}
#keresoBtn-Box {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
}

#reszletesKeresoBtn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
#dropdown_arrow {
    transform: rotate(90deg);
    transition-duration: 0.5s;
    width: 30px;
}
#evjarat {
    align-items: center;
}
#evjarat p {
    white-space: nowrap;
}
#search {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
}
#search input {
    height: 48px;
    font-size: 20px;
    padding: 10px;
    background: rgba(192, 204, 240, 0.37);
    border: 1px solid rgb(177, 177, 180);
    height: 50px;
    outline: 0;
}
#search img {
    width: 25px;
    margin-right: 5px;
}
#dropdown_kereso section input {
    height: 25px;
    font-size: 15px;
}

@media only screen and (max-width: 1620px) {
    #check_wrapper-1,
    #check_wrapper-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 2rem;
        width: 100%;
        justify-content: space-around;
    }
    #checkboxs {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #checkboxs section {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        align-items: center;
    }
}
@media only screen and (max-width: 1270px) {
    .input-box {
        flex: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #search {
        width: 100%;
    }
    .kereses form {
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-direction: column;
        align-content: stretch;
    }
    #dropdown_kereso {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }
    #checkboxs {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
    }
    #modell_parameter_kereso section {
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: -webkit-fill-available;
        align-items: stretch;
    }
    #modell_parameter_kereso {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: -webkit-fill-available;
        align-items: center;
    }
}
@media only screen and (max-width: 995px) {
    .input-box {
        flex: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #search {
        width: 100%;
    }
    .kereses form {
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-direction: column;
        align-content: stretch;
    }
    #dropdown_kereso {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }
    #checkboxs {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #modell_parameter_kereso section {
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: -webkit-fill-available;
        align-items: stretch;
    }
    #modell_parameter_kereso {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: -webkit-fill-available;
    }
}

@media only screen and (max-width: 600px) {
    #check_wrapper-1,
    #check_wrapper-2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 2rem;
        /* width: 100%; */
        align-items: center;
        align-content: center;
    }
    #evjarat {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    #rendezes-box {
        float: none;
        align-items: center;
        width: max-content;
        margin: auto;
        margin-top: 7px;
    }
}
