#rolunk-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    width: 100%;
}
.paragraf{
    width: 300px;
    overflow: hidden;
    height: 300px;
    border-radius: 50%;
}
.paragraf img{
    width: 300px;
    margin: auto;
}
