@charset "utf-8";
/*GLOBAL STYLE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

/*GRIT STYLE*/

main {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-areas:
    "sidenav header"
    "sidenav kereses"
    "sidenav primarycontent"
    "sidenav primarycontent"
    "sidenav primarycontent"
    "sidenav primarycontent"
    "sidenav footer";
  background-color: #e0e4e7;
  background-size: cover;
  max-width: 1920px;
  margin: auto;
}
.header {
  grid-area: header;
}
#primary_content {
  grid-area: primarycontent;
}
nav {
  grid-area: sidenav;
}
footer {
  grid-area: footer;
}
.kereses{
  grid-area: kereses;
}

/*GRID ITEM STYLE*/

.header {
  margin: 5px;
}


@media only screen and (max-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas:
      "sidenav header"
      "sidenav kereses"
      "sidenav primarycontent"
      "sidenav primarycontent"
      "sidenav primarycontent"
      "sidenav primarycontent"
      "sidenav footer";
      max-width: 1200px;
  }
}
@media only screen and (max-width: 940px) {
  main {
    display: grid;
    grid-template-columns:auto;
    grid-template-areas:
      "sidenav" "header"
      "kereses"
      "primarycontent"
      "primarycontent"
      "primarycontent"
      "primarycontent"
      "footer";
      max-width: 940px;
  }
  body{
    background-color: #e0e4e7;
  }
}
@media only screen and (max-width: 600px) {
  main {
    display: grid;
    grid-template-columns:auto;
    grid-template-areas:
      "header"
      "sidenav"
      "kereses"
      "primarycontent"
      "primarycontent"
      "primarycontent"
      "primarycontent"
      "footer";
      max-width: 600px;
  }
}