@charset "utf-8";

.fFoglalasok {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.fFoglalas {
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 20px rgb(0 0 0 / 20%);
    overflow: hidden;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fFoglalas h3 {
    color: #17446b;
    padding: 10px;
    text-shadow: 0px 4px 4px #8a8484;
    font-size: 1.5em;
}

.datum h4 {
    color: #17446b;
}

.datum p {
    font-style: italic;
}

.datum {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    font-size: 1em;
}

.elvitel {
    margin: 5px;
}

.visszahozatal {
    margin: 5px;
}

#foglalasKep {
    max-width: 100%;
}

.reszletGomb {
    background-color: #e0e4e7;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
        rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    line-height: 20px;
    padding: 5px;
    margin: 2px;
}

.reszletGomb:hover {
    background-color: #b1c5ee;
    text-decoration: none;
    transition-duration: 0.2s;
}

.reszlet {
    max-width: 100%;
}

.reszAdatokTable {
    max-width: 100%;
}

.fogLemond {
    background-color: #e0e4e7;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
        rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    line-height: 20px;
    padding: 5px;
    margin: 2px;
}

.fogLemond:hover {
    background-color: #b1c5ee;
    text-decoration: none;
    transition-duration: 0.2s;
}

.odd {
    background-color: rgb(236, 235, 235);
}

.fogLemondInaktiv {
    display: none;
}


.reszAdatokTable {
  width: 100%;
  font-size: 1em;
}

tr :nth-child(1) {
  color: #17446b;
  font-weight: bold;
}

tr :nth-child(2) {
  text-align: right;
}

td {
  padding: 2px;
  font-weight: italic;
}

.uzenet{
    color:darkred;
    font-weight: bolder;
    padding:10px;
  
  }
.foglalas_container{
    margin: 50px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}
.foglalas-boxi{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#nincsF,#nincsFp{
    text-align: center;
    margin: auto;
    color: #17446b;
    font-weight: bold;
    font-size: 2rem;
    font-family: "Teko", sans-serif;
}
#nincsFp{
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    font-size: 2rem;
    font-family: "Teko", sans-serif;
    color: #17446b;
    border: grey solid 1px;
}

.cim{
    font-size: 40px;
    text-align: center;
    color: #17446b;  
    font-family: "Teko", sans-serif;
}
@media (hover: none) and (pointer: coarse) {
    .reszletGomb:hover {
        background-color: #e0e4e7;
        transition: none;
    }

    .fogLemond:hover {
        background-color: #e0e4e7;
        transition: none;
    }
}



@media only screen and (max-width: 1200px) {
    .fFoglalasok {
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .fFoglalas {
        width: 400px;
    }
}
