<!-- ADMIN TÁBLÁZAT, KERESÉS -->
<div class="adminKereses">
    <div class="n1">
        <div class="kereses">
            <i class="far fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
    </div>

    <div class="adminFeladatValasztas">
        <div>
            <select name="adminKategoriak" id="adminKategoriak">
                <option value="adminAutok">Autók</option>
                <option value="adminFelhasznalok">Felhasználók</option>
                <option value="adminFoglalasok">Foglalások</option>
            </select>
        </div>
    </div>

</div>
<h3 class="oldalNev">Autók</h3>
<div class="values">
    <div class="val-box">
        <i class="fas fa-users"></i>
        <div>
            <h3>16</h3>
            <span>Összes felhasználó</span>
        </div>
    </div>
    <!--         </div> -->

    <!--    <div class="values"> -->
    <div class="val-box">
        <i class="fas fa-car"></i>
        <div>
            <h3>194</h3>
            <span>Összes foglalás</span>
        </div>
    </div>
    <!--   </div> -->
    <!-- 
                    <div class="values"> -->
    <div class="val-box">
        <i class="fas fa-money-check-alt"></i>
        <div>
            <h3>1.320.456Ft</h3>
            <span>Bejövő összeg</span>
        </div>
    </div>
</div>

<div class="tablazat">
    <table width="100%">
        <thead>
            <tr>
                <td>Státusz</td>
                <td>Rendszám</td>
                <td>Megnevezés</td>
                <td>Telephely</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tablazatStatusz">
                    <input type="checkbox" id="statuszInput" name="statuszInput">
                </td>
                <td class="rendzszam">
                    <p>ABC-123</p>
                </td>
                <td class="megnevezes">
                    <p>Audi A4</p>
                </td>
                <td class="telephely">
                    <p>Budapest</p>
                </td>
                <td class="reszletekGomb">
                    <a href="#">Részletek <i class="fas fa-long-arrow-right"></i></a>
                </td>
                <td class="modositas">
                    <a href="#">Módosítás</a>
                </td>
                <td class="torles">
                    <a href="#">Törlés</a>
                </td>
            </tr>
            <tr>
                <td class="tablazatStatusz">
                    <input type="checkbox" id="statuszInput" name="statuszInput">
                </td>
                <td class="rendzszam">
                    <p>ABC-123</p>
                </td>
                <td class="megnevezes">
                    <p>Audi A4</p>
                </td>
                <td class="telephely">
                    <p>Budapest</p>
                </td>
                <td class="reszletekGomb">
                    <a href="#">Részletek <i class="fas fa-long-arrow-right"></i></a>
                </td>
                <td class="modositas">
                    <a href="#">Módosítás</a>
                </td>
                <td class="torles">
                    <a href="#">Törlés</a>
                </td>
            </tr>
            <tr>
                <td class="tablazatStatusz">
                    <input type="checkbox" id="statuszInput" name="statuszInput">
                </td>
                <td class="rendzszam">
                    <p>ABC-123</p>
                </td>
                <td class="megnevezes">
                    <p>Audi A4</p>
                </td>
                <td class="telephely">
                    <p>Budapest</p>
                </td>
                <td class="reszletekGomb">
                    <a href="#">Részletek <i class="fas fa-long-arrow-right"></i></a>
                </td>
                <td class="modositas">
                    <a href="#">Módosítás</a>
                </td>
                <td class="torles">
                    <a href="#">Törlés</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>