<div class="fprofil">
    <div class="bejelentkezoFelulet">
        <form action="">
            <div class="form-header">
                <h3>Bejelentkezés</h3>
            </div>

            <div class="sor">
                <div class="inputfield">
                    <label for="fnev">Felhasználónév:</label>

                    <br />
                    <input type="text" name="fnev" id="fnev" placeholder="valaki97" /><br />
                </div>

                <div class="sor">
                    <div class="inputfield">
                        <label for="jelszo1">Jelszó:</label>
                        <br>
                        <input
                            type="password"
                            id="jelszo1"
                            name="jelszo1"
                            class="jelszo"
                            placeholder="******"
                            />
                    </div>

                </div> 

            </div>   
            <input type="submit" value="Bejelentkezés" id="adatotMent" />


        </form>
    </div>
</div>