<div class="fFoglalasok">


    <!-- foglalás kártyák -->
    <div class="fFoglalas">
        <!-- foglalás adatok -->
        <div class="fogAdatok">
            <!-- kép az autóról -->
            <img src="../kepek/probaauto.jpg" alt="" id="foglalasKep" />
            <!-- Autó megnevezése-->

            <h3 class="termeknev">Ford Fiesta</h3>
            <!-- dátumok div-je -->
            <div class="datum">

                <div id="elvitel">
                    <h4>
                        Elvitel:
                    </h4>
                    <p id="elvit">2022.01.02. </p>
                </div>



                <div id="visszahozatal">
                    <h4>Visszahozatal:</h4>
                    <p id="visszahoz">2022.01.13. </p>

                </div>
            </div>
            <!-- gombok -->

            <button type="submit" id="fogMod">Foglalás módosítása</button>
            <button type="submit" id="fogLemond">Foglalás lemondása</button>
        </div>

        <!-- lenyíló részletek -->
        <details>
            <summary>
                <div class="reszletTrigger">
                    <ul>
                        <li>Részletek <i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </summary>

            <div class="reszlet">
                <div class="reszletAdatok">
                    <table class="reszAdatokTable">

                        <tr>
                            <td>Foglalás összege: </td>
                            <td id="osszeg">125 000 Ft</td>


                        </tr>

                        <tr>
                            <td>Befizettet összeg: </td>
                            <td id="befizetett">50 000 Ft</td>


                        </tr>

                        <tr>
                            <td>Fizetendő összeg: </td>
                            <td id="hatralek">75 000 Ft</td>


                        </tr>

                        <tr>
                            <td>Átvevő pont: </td>
                            <td id="telephely">Pécs</td>

                        </tr>
                        <tr>
                            <td>Modell: </td>
                            <td id="modell">Modell megnevezése</td>

                        </tr>
                        <tr>
                            <td>Kivitel: </td>
                            <td id="kivitel">Kivitel megnevezése</td>



                        </tr>

                        <tr>
                            <td>Üzemanyag típusa: </td>
                            <td id="uzemanyag">Benzin</td>

                        </tr>


                    </table>
                </div>
        </details>





    </div>

    <div class="fFoglalas">
        <div class="fogAdatok">

            <img src="../kepek/probaauto.jpg" alt="" id="foglalasKep" />


            <h3 class="termeknev">Opel Astra</h3>

            <div class="datum">

                <div id="elvitel">
                    <h4>
                        Elvitel:
                    </h4>
                    2022.01.02.
                </div>



                <div id="visszahozatal">
                    <h4>Visszahozatal:</h4>
                    2022.01.13.
                </div>
            </div>

            <button type="submit" id="fogMod">Foglalás módosítása</button>
            <button type="submit" id="fogLemond">Foglalás lemondása</button>
        </div>

        <details>
            <summary>
                <div class="reszletTrigger">
                    <ul>
                        <li>Részletek <i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </summary>

            <div class="reszlet">
                <div class="reszletAdatok">
                    <table class="reszAdatokTable">

                        <tr>
                            <td>Foglalás összege: </td>
                            <td id="osszeg">125 000 Ft</td>


                        </tr>

                        <tr>
                            <td>Befizettet összeg: </td>
                            <td id="befizetett">50 000 Ft</td>


                        </tr>

                        <tr>
                            <td>Fizetendő összeg: </td>
                            <td id="hatralek">75 000 Ft</td>


                        </tr>

                        <tr>
                            <td>Átvevő pont: </td>
                            <td id="telephely">Pécs</td>

                        </tr>
                        <tr>
                            <td>Modell: </td>
                            <td id="modell">Modell megnevezése</td>

                        </tr>
                        <tr>
                            <td>Kivitel: </td>
                            <td id="kivitel">Kivitel megnevezése</td>



                        </tr>

                        <tr>
                            <td>Üzemanyag típusa: </td>
                            <td id="uzemanyag">Benzin</td>

                        </tr>


                    </table>
                </div>
        </details>





    </div>
    <div class="fFoglalas">
        <div class="fogAdatok">

            <img src="../kepek/probaauto.jpg" alt="" id="foglalasKep" />


            <h3 class="termeknev">Opel Astra</h3>

            <div class="datum">

                <div id="elvitel">
                    <h4>
                        Elvitel:
                    </h4>
                    2022.01.02.
                </div>



                <div id="visszahozatal">
                    <h4>Visszahozatal:</h4>
                    2022.01.13.
                </div>
            </div>

            <button type="submit" id="fogMod">Foglalás módosítása</button>
            <button type="submit" id="fogLemond">Foglalás lemondása</button>
        </div>

        <details>
            <summary>
                <div class="reszletTrigger">
                    <ul>
                        <li>Részletek <i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </summary>

            <div class="reszlet">
                <div class="reszletAdatok">
                    <table class="reszAdatokTable">

                        <tr>
                            <td>Foglalás összege: </td>
                            <td id="osszeg">125 000 Ft</td>


                        </tr>

                        <tr>
                            <td>Befizettet összeg: </td>
                            <td id="befizetett">50 000 Ft</td>


                        </tr>

                        <tr>
                            <td>Fizetendő összeg: </td>
                            <td id="hatralek">75 000 Ft</td>


                        </tr>

                        <tr>
                            <td>Átvevő pont: </td>
                            <td id="telephely">Pécs</td>

                        </tr>
                        <tr>
                            <td>Modell: </td>
                            <td id="modell">Modell megnevezése</td>

                        </tr>
                        <tr>
                            <td>Kivitel: </td>
                            <td id="kivitel">Kivitel megnevezése</td>



                        </tr>

                        <tr>
                            <td>Üzemanyag típusa: </td>
                            <td id="uzemanyag">Benzin</td>

                        </tr>


                    </table>
                </div>
        </details>





    </div>
    <div class="fFoglalas">
        <div class="fogAdatok">

            <img src="../kepek/probaauto.jpg" alt="" id="foglalasKep" />


            <h3 class="termeknev">Opel Astra</h3>

            <div class="datum">

                <div id="elvitel">
                    <h4>
                        Elvitel:
                    </h4>
                    2022.01.02.
                </div>



                <div id="visszahozatal">
                    <h4>Visszahozatal:</h4>
                    2022.01.13.
                </div>
            </div>

            <button type="submit" id="fogMod">Foglalás módosítása</button>
            <button type="submit" id="fogLemond">Foglalás lemondása</button>
        </div>

        <details>
            <summary>
                <div class="reszletTrigger">
                    <ul>
                        <li>Részletek <i class="fa fa-angle-double-right" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </summary>

            <div class="reszlet">
                <div class="reszletAdatok">
                    <table class="reszAdatokTable">

                        <tr>
                            <td>Foglalás összege: </td>
                            <td id="osszeg">125 000 Ft</td>


                        </tr>

                        <tr>
                            <td>Befizettet összeg: </td>
                            <td id="befizetett">50 000 Ft</td>


                        </tr>

                        <tr>
                            <td>Fizetendő összeg: </td>
                            <td id="hatralek">75 000 Ft</td>


                        </tr>

                        <tr>
                            <td>Átvevő pont: </td>
                            <td id="telephely">Pécs</td>

                        </tr>
                        <tr>
                            <td>Modell: </td>
                            <td id="modell">Modell megnevezése</td>

                        </tr>
                        <tr>
                            <td>Kivitel: </td>
                            <td id="kivitel">Kivitel megnevezése</td>



                        </tr>

                        <tr>
                            <td>Üzemanyag típusa: </td>
                            <td id="uzemanyag">Benzin</td>

                        </tr>


                    </table>
                </div>
        </details>





    </div>



</div>