<div class="fooldalInfo">
    <div class="infoHelyszin">
        <img src="kepek/location.png" alt="" />
        <h3>Válassz helyszínt!</h3>
        <p>Több telephelyünk közül választhatod ki a számodra legmegfelelőbbet az országban!</p>


    </div>
    <div class="infoDatum">
        <img src="kepek/date.png" alt="" />
        <h3>Tűzd ki a dátumot!</h3>
        <p>Neked elég csak kiválasztanod a kívánt dátumot és máris számos autónk közül válogathatsz!</p>

    </div>

    <div class="infoAuto">
        <img src="kepek/perfectcar.png" alt="" />
        <h3>Foglald le az autód!</h3>
        <p>Ha már regisztáltál, pár kattintással lefoglalhatod a számodra legideálisabb autót!</p>

    </div>


</div>


<div class="cim">
    <h2>Miért válassz minket?</h2>
</div>
<div class="marketingContainer">


    <div class="marketingInfo">
        <div class="marketingIcon">
            <img src="kepek/priceicon.png" alt="" />
        </div>



        <p>Kedvező ár-érték arány</p>


    </div>
    <div class="marketingInfo">
        <div class="marketingIcon">
            <img src="kepek/karbantartIcon.png" alt="" />
        </div>

        <p>Rendszeresen karbantartott autók</p>


    </div>

    <div class="marketingInfo">
        <div class="marketingIcon">
            <img src="kepek/checkIcon.png" alt="" />
        </div>

        <p>Rugalmasság</p>


    </div>


</div>

<!-- Hírek a főoldalon -->

<div class="cim">
    <h2>Hírek</h2>
</div>

<div class="hirekContainer">

    <div class="hirek">
        <div class="hirKep">
            <img src="kepek/hir2.png" alt="" />
        </div>
        <div class="hir">
            <span class="tag">Autós cikkek</span>
            <h4>
                Hol érdemes tankolni?
            </h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus, lorem semper mattis
                ullamcorper,
                arcu orci tristique dui, ornare tincidunt enim enim sed mi.
            </p>
            <div class="tovabb">
                <span>Tovább olvasok >></span>
            </div>
        </div>
    </div>

    <div class="hirek">
        <div class="hirKep">
            <img src="kepek/hir3.png" alt="" />
        </div>
        <div class="hir">
            <span class="tag">Fejlődés</span>
            <h4>
                Új prémium modellek kínálatunkban
            </h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus, lorem semper mattis
                ullamcorper,
                arcu orci tristique dui, ornare tincidunt enim enim sed mi.
            </p>
            <div class="tovabb">
                <span>Tovább olvasok >></span>
            </div>
        </div>
    </div>

    <div class="hirek">
        <div class="hirKep">
            <img src="kepek/hir1.png" alt="" />
        </div>
        <div class="hir">
            <span class="tag">Autós cikkek</span>
            <h4>
                Minden, amit tudnod kell a Tesláról
            </h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus, lorem semper mattis
                ullamcorper,
                arcu orci tristique dui, ornare tincidunt enim enim sed mi.
            </p>
            <div class="tovabb">
                <span>Tovább olvasok >></span>
            </div>
        </div>
    </div>


</div>



<!-- Kiemelt ajánlatok a főoldalon -->

<div class="kiemelt ajánlatok">

</div>