<div class="regisztracioFelulet">
    <form action="">
        <div class="form-header">
            <h3>Regisztráció</h3>
        </div>
        <div class="sor">
            <div class="inputfield">
                <label for="nev">Vezetéknév:</label>
                <br />
                <input type="text" name="vnev" id="vnev" placeholder="Kovács" />

            </div>

            <div class="inputfield">
                <label for="nev">Keresztnév:</label><br>

                <input type="text" name="knev" id="knev" placeholder="Kati" />
            </div>

        </div>

        <div class="sor">
            <div class="inputfield">
                <label for="fnev">Felhasználónév:</label>

                <br />
                <input type="text" name="fnev" id="fnev" placeholder="valaki97" /><br />
            </div>

            <div class="inputfield">
                <label for="email">E-mail cím:</label>  <br />
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="valami@gmail.com"
                    />
            </div>
        </div>

        <div class="sor">
            <div class="inputfield">
                <label for="jelszo1">Jelszó:</label>
                <br>
                <input
                    type="password"
                    id="jelszo1"
                    name="jelszo1"
                    class="jelszo"
                    placeholder="******"
                    />
            </div>

            <div class="inputfield">
                <label for="jelszo2">Jelszó újra:</label>
                <br>
                <input
                    type="password"
                    name="jelszo2"
                    id="jelszo2"
                    class="jelszo"
                    placeholder="******"
                    />
            </div>

        </div>

        <div class="sor">
            <div class="inputfield">
                <label for="szdatum">Születési dátum:</label><br>
                <input type="date" name="szdatum" id="szdatum" /><br>
            </div>

            <div class="inputfield">
                <label for="telszam">Telefonszám:</label><br>
                <input
                    type="text"
                    class="telszam"
                    placeholder="+36-20-345-6789"
                    />
            </div>

        </div>


        <div class="sor">


            <div class="inputfield">
                <label>Cím:</label>
                <br />
                <input
                    type="text"
                    id="iranyitoszam"
                    placeholder="Irányítószám"
                    />

            </div>

        </div>

        <div class="sor">

            <div class="inputfield">
                <input type="text" id="megye" placeholder="Megye" />
            </div>

            <div class="inputfield">
                <input type="text" id="varos" placeholder="Város" />
            </div>           

        </div>


        <div class="sor">

            <div class="inputfield">
                <input type="text" id="utca" placeholder="Utca" />

            </div>

            <div class="inputfield">

                <input type="text" id="hazszam" placeholder="Házszám" />
            </div>  

        </div>   
        <input type="submit" value="Regisztráció" id="adatotMent" />


    </form>
</div>