@charset "utf-8";

/*.reszletek, .reszlet {
  display: none;
}*/

.adminKereses {
    display: flex;
    align-items: center;
    /*   justify-content: space-between; */
    background-color: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid blue;
}

.adminKereses .kereses {
    display: flex;
    /*  justify-content: flex-start; */
    /*   align-items: center; */
    padding: 10px 14px;
    border: 1px solid gray;
    border-radius: 4px;
}

.adminKereses .kereses i {
    margin-right: 14px;
}

.adminKereses .kereses input {
    border: none;
    outline: none;
    font-size: 14px;
}

#adminKategoriak a {
    font-size: 16px;
    padding: 10px;
}

.adminKereses .adminFeladatValasztas,
.ujAutoFelvetele,
.jogkorValasztas {
    display: flex;
    margin-left: 5%;
    /*  justify-content: flex-start; */
    /*   align-items: center; */
}

.adminKereses,
.ujAutoFelvetele,
.jogkorValasztas select {
    padding: 10px;
    font-size: 14px;
}

.ujAutoGomb,
.ujModellGomb,
.ujKepGomb {
    padding: 10px;
}

.oldalNev {
    color: rgb(38, 38, 94);
    padding: 30px 30px 0 30px;
    font-size: 35px;
    font-weight: 700;
}

.values {
    padding: 30px 30px 30px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box {
    background-color: white;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: white;
    /*   background-color: rgb(73, 73, 172); */
    margin-right: 15px;
}

.values .val-box:nth-child(1) i {
    background-color: rgb(73, 73, 172);
}

.values .val-box:nth-child(2) i {
    background-color: rgb(115, 115, 150);
}

.values .val-box:nth-child(3) i {
    background-color: rgb(74, 121, 150);
}

.values .val-box h3 {
    font-size: 18px;
    font-weight: 600;
}

.values .val-box span {
    font-size: 15px;
    color: rgb(59, 59, 56);
}

/* ADMIN AUTÓ MÓDOSÍTÁS */

.autoAdatokModositas {
    max-width: 700px;
}

/* ADMIN AUTÓ FELTÖLTÉS */

.autoAdatokFeltoltes,
.modellAdatokFeltoltes,
.kepAdatokFeltoltes {
    display: none;
    max-width: 700px;
}

/*felhasználói adatok adatok*/

.felhasznalokAdmin {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.felhFejlec {
    display: flex;
    background-color: #ddd;
    align-items: center;
    padding: 5px;
}

.felhFejlec h2 {
    flex: 1;
    font-size: 1rem;
}

.foadatok {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.foadatok p {
    flex: 1;
    font-size: 1rem;
}

/*részletek lenyíló*/
.reszletek {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.reszlet {
    width: 100%;
}

.reszletek p {
    flex: 1;
    font-size: 1rem;
}

.reszletFejlec {
    display: flex;
    background-color: #ddd;
    align-items: center;
    padding: 5px;
}

.reszletFejlec h2 {
    flex: 1;
    font-size: 1rem;
}

.reszletadatok {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.reszletadatok p {
    flex: 1;
    font-size: 1rem;
}
/*foglalási adatok*/

.foglalasAdmin {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.fogFejlec {
    display: flex;
    background-color: #ddd;
    align-items: center;
    padding: 5px;
}

.fogFejlec h2 {
    flex: 1;
    font-size: 1rem;
}
/* TÁBLÁZAT */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table th,
table td {
    padding: 0.625em;
    text-align: center;
}

.torles {
    padding: 4px 10px;
    background-color: #97b9d246;
    border: 1px solid #8283853e;
    border-radius: 5px;
    color: #2b2b2b;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.fadatokMod {
    padding: 4px 10px;
    background-color: #97b9d246;
    border: 1px solid #8283853e;
    border-radius: 5px;
    color: #2b2b2b;
}

.fReszletek {
    padding: 4px 10px;
    background-color: #97b9d246;
    border: 1px solid #8283853e;
    border-radius: 5px;
    color: #2b2b2b;
}

.felhasznaloiModositas {
    display: none;
    max-width: 700px;
}

.foglalasModositas {
    display: none;
    max-width: 700px;
}

.sor {
    display: flex;
    flex-direction: row;
}

.inputfield {
    flex: 1;
    margin: 10px;
}

.inputfield label {
    color: #17446b;
    font-weight: bolder;
}

.inputfield input {
    padding: 10px;
    background: white;
    height: 40px;
    border: none;
    outline: 0;
    border-radius: 5px;
}

.form-header {
    padding: 15px 0;
    border-bottom: 1px solid #17446b;
    font-family: "Teko", sans-serif;
}

.inputfield input::placeholder {
    color: #17446b;
}

.form-header h3 {
    font-size: 40px;
    text-align: center;
    color: #17446b;
}

#adatotMent {
    margin: 10px;
    background-color: #e0e4e7;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 2px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
        rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 16px;
    width: 200px;
    border-radius: 5px;
}

#adatotMent:hover {
    background-color: #b1c5ee;
    text-decoration: none;
    transition-duration: 0.2s;
}

#admin-auto-reszletek-embed {
    position: fixed;
    left: 20%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f8f8;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#admin-auto-reszletek-section {
    display: flex;
    flex-direction: row;
    margin: 20px;
    align-content: center;
    align-items: flex-start;
}
#admin-auto-reszletek-section img {
    width: 15%;
    overflow: hidden;
}
#admin-auto-reszletek-section p,
h1 {
    color: black;
    padding: 10px 20px;
}
#reszletek-header {
    display: flex;
    justify-content: space-between;
}
#admin-auto-reszletek-modell::before {
    content: "Modell : ";
}
#admin-auto-reszletek-tipus::before {
    content: "Tipus : ";
}
#admin-auto-reszletek-extra::before {
    content: "Extra : ";
}
#admin-auto-reszletek-alvazszam::before {
    content: "Alvazszam : ";
}
#admin-auto-reszletek-napiAr::before {
    content: "Napi ár : ";
}
#admin-auto-reszletek-napiAr::after {
    content: " Ft";
}
#admin-auto-reszletek-forgalmi::before {
    content: "Forgalmi : ";
}
#admin-auto-reszletek-felvetel::before {
    content: "Felvétel : ";
}
.even {
    background-color: rgb(236, 235, 235);
    font-size: large;
}

@media only screen and (max-width: 1151px) {
    body {
        background-color: #e0e4e7;
    }
}

@media screen and (max-width: 800px) {
    table {
        border: 0;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

@media only screen and (max-width: 700px) {
    .sor {
        flex-direction: column;
    }
}

@media only screen and (max-width: 550px) {
    .sor {
        flex-direction: column;
    }
}
