* {
    box-sizing: border-box;
}

/* .autoModal {
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    margin: 0;
} */

#buttonAuto,
#buttonModell,
#buttonKep {
    margin-left: 10px;
    padding: 10px;
    background-color: #97b9d246;
    border: 1px solid #8283853e;
    border-radius: 5px;
    color: #2b2b2b;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.583);
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 15%;
    left: 40%;
    height: auto;
    width: 50vh;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: rgba(255, 255, 255, 0.583);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    /*     width: 600px; */
    max-width: 100%;
    text-align: center;
}
